In [1]:
from make_data import *

In [2]:
df = load_names_to_dataframe(usa_first_name_file)

In [3]:
df.to_csv(data_dir/"usa_names.csv")

In [6]:
df["name"].drop_duplicates().to_csv(data_dir/"unique_usa_names.csv", index=False, header=False)

In [10]:
name_list = pd.read_csv(data_dir/"unique_usa_names.csv", header=None)

In [11]:
name_list

              0
0          Mary
1         Helen
2       Dorothy
3          Ruth
4      Margaret
...         ...
31590    Adrion
31591     Braun
31592    Evrett
31593   Mackson
31594    Dierks

[31595 rows x 1 columns]